a:hover,a:focus{
    color: #4ABDAC;
}
.btn-common {
    background: #4ABDAC;
}
.btn-common:hover, .btn-common:focus{
    background: #6DBAAF;
}
.btn-border{
    color: #4ABDAC;;
}
/* Back to Top */
.back-to-top i {
    background-color: #4ABDAC;
}
#color-style-switcher .bottom a i{
    color: #4ABDAC;
}
/* Navbar */
.slicknav_btn{
    border-color: #4ABDAC;
    border-radius: 2px;
}
.slicknav_menu .slicknav_btn .slicknav_icon-bar{
    background: #4ABDAC;
}
.slicknav_menu .slicknav_btn:hover{
    background: #4ABDAC;
}
.slicknav_nav .active a{
    background: #4ABDAC;
}
.slicknav_nav a:hover, .slicknav_nav .active{
    color: #4ABDAC;
}
.slicknav_nav .dropdown li a.active{
    background: #4ABDAC;
}
.tbtn{
    background: #4ABDAC;
}
/* Navbar */
.navbar-default.affix .float-right li a{
    color: #4ABDAC!important;
    border-color: #4ABDAC;
}
.navbar-default.affix .float-right li a:hover{
    background: #4ABDAC;
}
.navbar-default .float-right li a:hover{
    border-color: #4ABDAC;
}
.main-navigation .float-right li a{
    border-color: #4ABDAC;
    color: #4ABDAC!important;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a.active{
    background: #4ABDAC;
}
.navbar-default .navbar-nav .dropdown{
    border-color: #4ABDAC;
}
.dropdown > li:hover > a{
    background-color: #4ABDAC;
}
.dropdown > li:hover > a{
    background-color: #4ABDAC;
    color: #fff;
}
.dropdown li a.active, .sup-dropdown li a.active{
    background-color: #4ABDAC;
    color: #fff;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active{
    background: #4ABDAC;
}
.btn-search-icon{
    background: #4ABDAC;
}
.popular-jobs a:hover{
    background:  #4ABDAC;
    border-color:  #4ABDAC;
}
.full-time{
    background: #4ABDAC;
}
.job-list .job-tag .icon{
    color: #4ABDAC;
}
.find-job .showing a span{
    color: #4ABDAC;
}
.job-list .job-tag .meta-tag span a:hover{
    color: #4ABDAC;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background: #4ABDAC!important;
}
.pagination .active > a, .pagination .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #4ABDAC!important;
    border-color: #4ABDAC!important;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
    background-color: #4ABDAC!important;
    border-color: #4ABDAC!important;
}
.category{
    background: #4ABDAC;
}
.f-category .icon i{
    color: #4ABDAC;
}
.featured-jobs .item-foot .view-iocn a{
    background: #4ABDAC;
}
.owl-theme .owl-controls .owl-buttons div{
    background: #4ABDAC!important;
}
.counting .icon i{
    color: #4ABDAC;
}
.counting .desc h2::after{
    background: #4ABDAC;
}
.infobox{
    background: #4ABDAC;
}
.bottom-social-icons a{
    background: #4ABDAC;
    color: #fff;
}
.subscribe-box input[type="submit"]{
    background: #4ABDAC;
}
footer .menu li a:hover{
    color: #4ABDAC;
}
#copyright p a:hover{
    color: #4ABDAC;
}

/* ==========================================================================
 Pages Color Start
 ========================================================================== */
.find-job .nav-tabs > li.active > a, .find-job .nav-tabs > li.active > a:focus, .find-job .nav-tabs > li.active > a:hover{
    background: #4ABDAC;
}
.find-job .nav-tabs > li > a{
    color: #4ABDAC;
    border-color: #4ABDAC!important;
}
.find-job .nav > li > a:focus, .find-job .nav > li > a:hover{
    background-color: #4ABDAC;
}
.breadcrumb{
    color: #4ABDAC;
}
.medium-title::before{
    border-bottom: 2px solid #4ABDAC;
}
.service-item .icon-wrapper i{
    color: #4ABDAC;
}
.job-detail .text-left .meta span i{
    color: #4ABDAC;
}
.job-detail .text-left .price i{
    color: #4ABDAC;
}
.job-detail .clearfix ul li i{
    color: #4ABDAC;
}
.job-detail .sidebar .text-box h4 a{
    color: #4ABDAC;
}
.job-detail .sidebar .text-box a.text i{
    color: #4ABDAC;
}
.job-detail .sidebar .text-box strong.price i{
    color: #4ABDAC;
}
.job-detail .sidebar .sidebar-jobs ul li span i{
    color: #4ABDAC;
}
.right-sidebar .lest li a.active{
    color: #4ABDAC;
}
.right-sidebar .lest li a:hover{
    color: #4ABDAC;
}
.right-sidebar .lest .notinumber{
    background: #4ABDAC;
}
.panel-default .panel-heading{
    background: #4ABDAC!important;
    border: #4ABDAC;
}
#pricing-table .table .pricing-header .price-value{
    color: #4ABDAC;
}
#pricing-table #active-tb .pricing-header{
    background: #4ABDAC;
}
#pricing-table .table:hover .pricing-header{
    background: #4ABDAC;
}
.form-control:focus, textarea:focus{
    border-color: #4ABDAC;
}
.all-categories ul li a:hover{
    color: #4ABDAC;
}
.post-header a{
    color: #4ABDAC;
}
.close i{
    background: #4ABDAC;
}
.blog-post .post-content .meta .meta-part a:hover,
.blog-post .post-content .meta .meta-part a:focus{
    color: #4ABDAC;
}
.widget-title{
    border-bottom-color: #4ABDAC;
}
.widget-title::before{
    border-bottom-color: #4ABDAC;
}
#sidebar .cat-list li a:hover{
    color: #4ABDAC;
}
#sidebar .tag a{
    background: #4ABDAC;
}
blockquote{
    background: #4ABDAC;
}
.reply-link{
    color: #4ABDAC;
}
.tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected{
    border-color: #4ABDAC!important;
}
.tparrows.preview3:hover:after{
    background: #4ABDAC!important;
}
.tparrows.preview3:hover:after{color:#fff}